<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <form action="/selected" method='POST' onsubmit="showData()">
            <input type="checkbox" name="data" value="<%= data %>"><%= data %><br>
            <input type="checkbox" name="data" value="<%= data1 %>"><%= data1 %><br>
            <input type="checkbox" name="data" value="<%= data2 %>"><%= data2 %><br>
            <input type="checkbox" name="data" value="<%= data3 %>"><%= data3 %><br>

            <input type="submit" value="submit">
        </form>
    </body>
</html>